html {
  height: 100%;
}
body {
  background: #f4f6f3;
  font-family: "Oswald", sans-serif;
  line-height: 1.4;
}
.topnav {
  img{
    width: 100%;
  }
  .right{
    a {
    float: right;
    color: gray;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    &:hover {
      color: plum;
    }
   }
  }
  .banner{
    font-family: "Poppins", sans-serif;
    float: left;
    fon{
      color: orange;
    }
  }
}
.content {
  width: calc(100% - 100px);
  margin: 0 50px;
  margin-top: 25px;
  float: left;
  .left {
    width: calc(2* (100% - 50px) / 3);
    padding-left: 50px;
    padding-bottom: 20px;
    position: center;
    a{
      float: right;
      color: black;
      font-family: "Oswald", sans-serif;
      font-size: 60px;
    }
    img{
       width: 100%;
      }
  }
}


