html{
  height: 100%;
}
body{
  margin: 0;
  min-height: 100%;
  width: 100%;
}
.navigation{

    .left{


    }
    .right{

    }
}
.navigation--inline{

}
.top-banner{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-image:no-repeat;
  width: 100%;
  h1{
    color: white;
    .a{
      color: yellow;
      }
    }
  .banner-text{

    }
}
content{
  left{

  }
  right{

  }
}